<div id="sidebar-collapse">
  <ul class="side-menu metismenu">
    <!-- <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-view-grid"></i><span class="nav-label">Kitchen Manager</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLinkActive="active" routerLink="/index">Visitors</a>
        </li>
        <li><a routerLink="/ecommerce/dashboard" routerLinkActive="active">Shop</a>
        </li>
        <li><a routerLink="/dashboard_blog" routerLinkActive="active">Blog</a>
        </li>
        <li><a routerLink="/dashboard_4" routerLinkActive="active">Dashboard v4</a>
        </li>
        <li><a routerLink="/dashboard_5" routerLinkActive="active">Dashboard v5</a>
        </li>
        <li><a routerLink="/dashboard_6" routerLinkActive="active">Dashboard v6</a>
        </li>
        <li><a routerLink="/dashboard_7" routerLinkActive="active">Dashboard v7</a>
        </li>
      </ul>
    </li> -->
    <li class="heading">FEATURES</li>
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-paint-roller"></i><span class="nav-label">Kitchen Manager</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/ui/colors" routerLinkActive="active">Stock</a>
        </li>
        <li><a routerLink="/ui/typography" routerLinkActive="active">Actions</a>
        </li>
        <li><a routerLink="/ui/panels" routerLinkActive="active">Forms</a>
        </li>
        <li><a routerLink="/ui/alerts" routerLinkActive="active">Events</a>
        </li>
        <li><a routerLink="/ui/toastr" routerLinkActive="active">Orders</a>
        </li>
        <li><a routerLink="/ui/tooltip_popover" routerLinkActive="active">Status</a>
        </li>
        <li><a routerLink="/ui/badges_progress" routerLinkActive="active">Analysis</a>
        </li>
        <li><a routerLink="/ui/lists" routerLinkActive="active">Invoice</a>
        </li>
        <li><a routerLink="/ui/idle-timer" routerLinkActive="active">Design</a>
        </li>
        <li><a routerLink="/ui/clipboard" routerLinkActive="active">Publish</a>
        </li>
        <li><a routerLink="/ui/clipboard" routerLinkActive="active">Sites</a>
        </li>
        <li><a routerLink="/ui/clipboard" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-heart"></i><span class="nav-label">Data Collection</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/buttons/button-icon" routerLinkActive="active">Data</a>
        </li>
        <li><a routerLink="/buttons/button-labeled" routerLinkActive="active">Status</a>
        </li>
        <li><a routerLink="/buttons/button-animated" routerLinkActive="active">Reader</a>
        </li>
        <li><a routerLink="/buttons/buttons-fab" routerLinkActive="active">Sites</a>
        </li>
        <li><a routerLink="/buttons/button-groups" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
    <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-layers-alt"></i><span class="nav-label">Staff</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/widgets/statistics" routerLinkActive="active">TimeSheets</a>
        </li>
        <li><a routerLink="/widgets/list" routerLinkActive="active">Status</a>
        </li>
        <li><a routerLink="/widgets/user" routerLinkActive="active">Allocations</a>
        </li>
        <li><a routerLink="/widgets/blog" routerLinkActive="active">Courses</a>
        </li>
        <li><a routerLink="/widgets/statistics" routerLinkActive="active">Training</a>
        </li>
        <li><a routerLink="/widgets/list" routerLinkActive="active">Analysis</a>
        </li>
        <li><a routerLink="/widgets/user" routerLinkActive="active">Design</a>
        </li>
        <li><a routerLink="/widgets/blog" routerLinkActive="active">Staff</a>
        </li>
        <li><a routerLink="/widgets/statistics" routerLinkActive="active">Records</a>
        </li>
        <li><a routerLink="/widgets/list" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active"><a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-check-box"></i><span class="nav-label">Menus</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/forms/form_layouts" routerLinkActive="active">Items</a>
        </li>
        <li><a routerLink="/forms/form_advanced" routerLinkActive="active">Recipes</a>
        </li>
        <li><a routerLink="/forms/form_masks" routerLinkActive="active">Menus</a>
        </li>
        <li><a routerLink="/forms/form_validation" routerLinkActive="active">Templates</a>
        </li>
        <li><a routerLink="/forms/text_editors" routerLinkActive="active">Analysis</a>
        </li>
        <li><a routerLink="/forms/autocomplete" routerLinkActive="active">Sites</a>
        </li>
        <li><a routerLink="/forms/autocomplete" routerLinkActive="active">Admin</a>
        </li>

      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-layout-tab-window"></i><span class="nav-label">Payments</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/tables/basic" routerLinkActive="active">Transactions</a>
        </li>
        <li><a routerLink="/tables/datatables" routerLinkActive="active">Students</a>
        </li>
        <li><a routerLink="/tables/basic" routerLinkActive="active">Parents</a>
        </li>
        <li><a routerLink="/tables/datatables" routerLinkActive="active">Analysis</a>
        </li>
        <li><a routerLink="/tables/basic" routerLinkActive="active">Archive</a>
        </li>
        <li><a routerLink="/tables/datatables" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-bar-chart"></i><span class="nav-label">Reporting</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/charts/chartjs" routerLinkActive="active">Chart.js</a>
        </li>
        <li><a routerLink="/charts/charts_morris" routerLinkActive="active">Morris Charts</a>
        </li>
        <li><a routerLink="/charts/charts_peity" routerLinkActive="active">Peity Charts</a>
        </li>
        <li><a routerLink="/charts/charts_sparkline" routerLinkActive="active">Sparkline Charts</a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-map-alt"></i><span class="nav-label">Monitor</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/charts/chartjs" routerLinkActive="active">Monitor</a>
        </li>
        <li><a routerLink="/charts/charts_morris" routerLinkActive="active">Actions</a>
        </li>
        <li><a routerLink="/charts/charts_peity" routerLinkActive="active">Abalysis</a>
        </li>
        <li><a routerLink="/charts/charts_sparkline" routerLinkActive="active">Packages</a>
        </li>
        <li><a routerLink="/charts/chartjs" routerLinkActive="active">Design</a>
        </li>
        <li><a routerLink="/charts/charts_morris" routerLinkActive="active">Publish</a>
        </li>
        <li><a routerLink="/charts/charts_peity" routerLinkActive="active">Sites</a>
        </li>
        <li><a routerLink="/charts/charts_sparkline" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-comments-smiley"></i><span class="nav-label">Assets</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/charts/chartjs" routerLinkActive="active">Assets</a>
        </li>
        <li><a routerLink="/charts/charts_morris" routerLinkActive="active">Repairs</a>
        </li>
        <li><a routerLink="/charts/charts_peity" routerLinkActive="active">Analysis</a>
        </li>
        <li><a routerLink="/charts/charts_sparkline" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-anchor"></i><span class="nav-label">Cases</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/charts/chartjs" routerLinkActive="active">Cases</a>
        </li>
        <li><a routerLink="/charts/charts_morris" routerLinkActive="active">Analysis</a>
        </li>
        <li><a routerLink="/charts/charts_peity" routerLinkActive="active">Design</a>
        </li>
        <li><a routerLink="/charts/charts_sparkline" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </li>
    <li routerLinkActive="active">
      <a href="href=&quot;javascript:;&quot;"><i class="sidebar-item-icon ti-announcement"></i><span class="nav-label">Cases</span><i class="fa fa-angle-left arrow"></i></a>
      <ul class="nav-2-level collapse" routerLinkActive="in">
        <li><a routerLink="/charts/chartjs" routerLinkActive="active">Users</a>
        </li>
        <li><a routerLink="/charts/charts_morris" routerLinkActive="active">Sites</a>
        </li>
        <li><a routerLink="/charts/charts_peity" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </li>
    
  
  
  
    <li class="heading">PAGES</li>
    <li><a routerLink="/mailbox" routerLinkActive="active"><i class="sidebar-item-icon ti-email"></i><span class="nav-label">Mailbox</span></a></li>
  </ul>
  <div class="sidebar-footer"><a href="javascript:;"><i class="ti-announcement"></i></a><a routerLink="/calendar"><i class="ti-calendar"></i></a><a routerLink="/mailbox"><i class="ti-comments"></i></a><a href="login.html"><i class="ti-power-off"></i></a></div>
</div>
