<div class="page-content fade-in-up">



  <div class="row">
    <div class="col-md-12">
      <div class="ibox-body">
        <div class="alert alert-primary">
          <h2> <strong>Cypad Customers</strong> </h2>You can view,insert ,update , delete the customers in here.
        </div>
      </div>
    </div>
  </div>


  <div class="ibox">
    <form action="javascript:;">
      <div class="ibox-body">

        <div class="row">
          <!-- Data tables ************************************************************************************************** -->
          <div class="col-md-6">
            <div class="ibox">
              <div class="ibox-body">
                <div class="table-responsive row">
                  <table class="table table-bordered table-hover" id="datatable">
                    <thead class="thead-default thead-lg">
                      <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>OutStandings</th>
                        <th>Status</th>
                        <th>Payment</th>
                        <th>Date</th>
                        <th class="no-sort"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>
                          <a href="javascript:;">#1254</a>
                        </td>
                        <td>Becky Brooks</td>
                        <td>$457</td>
                        <td>
                          <span class="badge badge-success badge-pill">Shipped</span>
                        </td>
                        <td>Paid</td>
                        <td>17.05.2018</td>
                        <td>
                          <a class="text-muted font-16" href="javascript:;"><i class="ti-trash"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>
                          <a href="javascript:;">#1253</a>
                        </td>
                        <td>Emma Johnson</td>
                        <td>$1200</td>
                        <td>
                          <span class="badge badge-success badge-pill">Shipped</span>
                        </td>
                        <td>Paid</td>
                        <td>17.05.2018</td>
                        <td>
                          <a class="text-muted font-16" href="javascript:;"><i class="ti-trash"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>
                          <a href="javascript:;">#1252</a>
                        </td>
                        <td>Noah Williams</td>
                        <td>$780</td>
                        <td>
                          <span class="badge badge-primary badge-pill">Pending</span>
                        </td>
                        <td>Paid</td>
                        <td>16.05.2018</td>
                        <td>
                          <a class="text-muted font-16" href="javascript:;"><i class="ti-trash"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>
                          <a href="javascript:;">#1251</a>
                        </td>
                        <td>Sophia Jones</td>
                        <td>$105</td>
                        <td>
                          <span class="badge badge-success badge-pill">Completed</span>
                        </td>
                        <td>Paid</td>
                        <td>15.05.2018</td>
                        <td>
                          <a class="text-muted font-16" href="javascript:;"><i class="ti-trash"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>
                          <a href="javascript:;">#1250</a>
                        </td>
                        <td>Jacob Brown</td>
                        <td>$40</td>
                        <td>
                          <span class="badge badge-primary badge-pill">Pending</span>
                        </td>
                        <td>_</td>
                        <td>12.05.2018</td>
                        <td>
                          <a class="text-muted font-16" href="javascript:;"><i class="ti-trash"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- End of datatables col-md-6 ************************************************************************************************** -->
          <div class="col-md-6">
            <div class="ibox">
              <div class="ibox-body">
                <div class="row">

                  <div class="col-md-6">
                    <div class="form-group mb-4">
                      <label>Customer Code</label>
                      <div class="input-group-icon input-group-icon-left">
                        <span class="input-icon input-icon-left"><i class="ti-bookmark-alt font-16"></i></span>
                        <input class="form-control" type="text" placeholder="Enter Customer Code">
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label>Customer Name</label>
                      <div class="input-group-icon input-group-icon-left">
                        <span class="input-icon input-icon-left"><i class="ti-receipt font-16"></i></span>
                        <input class="form-control" type="text" placeholder="Enter Customer Name">
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label>E-Mail Address</label>
                      <div class="input-group-icon input-group-icon-left">
                        <span class="input-icon input-icon-left"><i class="ti-email font-16"></i></span>
                        <input class="form-control" type="text" placeholder="Enter Email Address">
                      </div>
                      <span class="help-block">Please Enter your date of birth.</span>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group mb-4">
                      <label>Location</label>
                      <div class="input-group-icon input-group-icon-left">
                        <span class="input-icon input-icon-left"><i class="ti-location-pin font-16"></i></span>
                        <input class="form-control" type="text" placeholder="Enter Location">
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label>Address</label>
                      <div class="input-group-icon input-group-icon-left">
                        <span class="input-icon input-icon-left"><i class="ti-lock"></i></span>
                        <input class="form-control" type="password" placeholder="Enter Address ">
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label>Phone number</label>
                      <div class="input-group">
                        <div class="input-group-btn">
                          <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">+61<i
                              class="fa fa-angle-down ml-1"></i></button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="javascript:;">+61</a>
                            <a class="dropdown-item" href="javascript:;">+1</a>
                            <a class="dropdown-item" href="javascript:;">+7</a>
                          </div>
                        </div>
                        <input class="form-control" type="text" placeholder="Enter Phone">
                      </div>
                      <span class="help-block">It will be required to verify your account.</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group mb-4">
                      <label>Contact Person</label>
                      <div class="input-group-icon input-group-icon-left">
                        <span class="input-icon input-icon-left"><i class="ti-location-pin font-16"></i></span>
                        <input class="form-control" type="text" placeholder="Enter Contact Person">
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label>Postal Code</label>
                      <div class="input-group-icon input-group-icon-left">
                        <span class="input-icon input-icon-left"><i class="ti-lock"></i></span>
                        <input class="form-control" type="password" placeholder="Enter Postal Code">
                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <div class="ibox-footer">

                <button class="btn btn-primary mr-2 " type="button">Submit</button>
                <button class="btn btn-outline-secondary " type="reset">Cancel</button>

              </div>
              <!-- End of the input area ************************************************************** -->
            </div>
          </div>
        </div>
      </div>


    </form>
  </div>

</div>